* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #A313FF;
}

html, body {
  height: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg#forms {
  position: absolute;
  height: 100%;
  width: 100%;
}

.svg-clipped {
  clip-path: url(#clipping);
  -webkit-clip-path: url(#clipping);
}

.image {
  position: absolute;
  height: 100%;
  width: 100%;

}

.img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.img1 {
  background-image: url('https://www.thalia-theater.de/f/72ee108ac2c459.jpg');
}