<!doctype html>
<html>
  <head>
    <title>Socket.IO Cursors</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>

    <div class="test">move cursor around here</div>
    <div class="cursors"></div>
    <div class="users"></div>
    <p class="my-id"></p>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/cursor.js"></script>

  </body>
</html>