<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SVG Test</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="wrapper">
        <svg id="forms" viewBox="0 0 1253 1253">
            <defs>
                <clipPath id="clipping">
                    <path id="clip-a" d="M1045.07 433.635C1045.07 433.635 1081.12 437.658 1094.4 137.92C1094.4 137.92 1420.09 661.677 1138.04 858.096C1010.92 946.609 1260.33 948.058 1122.86 1139.73C1064.44 1221.18 861.428 1154.72 881.917 940.574C895.197 801.769 804.133 823.898 699.087 850.854C674.234 857.231 655.774 845.121 628.853 818.808C601.136 791.711 483.511 835.968 540.426 950.633C579.868 1030.11 578.369 1115.59 546.118 1169.9C470.269 1297.62 268.087 1279.96 313.79 1104.08C367.783 896.318 276.776 812.371 246.364 769.583C54.75 500.02 274.822 379.32 653.384 649.446C698.916 681.935 584.061 552.323 430.39 487.95C222.005 400.643 147.655 448.179 62.3387 421.565C-66.6691 381.331 22.498 184.188 166.683 262.643C353.858 364.494 382.411 318.889 407.624 306.9C462.642 280.748 474.272 211.225 420.904 164.071C329.84 83.6048 124.945 182.176 124.945 182.176C386.755 -67.2701 1187.42 -126.313 1045.07 433.635Z" fill="black"/>
                    <path visibility="hidden" id="clip-b" d="M801.152 588.983C912.033 704.925 941.417 504.106 958.234 317.005C958.234 317.005 923.316 598.594 1021.99 841.456C1144.76 1143.63 856.593 1069.01 955.462 943.312C987.331 902.797 900.945 912.972 900.945 797.029C900.945 552.098 803.074 610.795 706.986 712.651C697.746 722.447 685.373 710.192 672.779 695.39C626.513 641.005 548.896 698.435 579.389 780.787C595.818 825.159 627.909 801.613 620.507 810.249C552.121 890.011 502.631 945.349 519.328 849.052C575.693 523.979 368.714 699.518 382.574 675.68C583.251 330.528 678.332 681.845 684.726 604.163C700.435 413.454 618.826 509.275 492.532 451.379C390.89 404.785 309.577 372.278 268.218 440.175C233.401 497.334 185.759 482.803 204.046 425.525C242.789 304.132 391.916 385.248 435.049 402.77C538.732 444.888 611.729 374.456 549.82 285.603C517.073 238.597 432.471 200 432.471 200C691.194 257.408 695.99 479.021 801.152 588.983Z" fill="white"/>    
                </clipPath>
            </defs>
        </svg>

        <div class="image">
            <div class="img img1 svg-clipped"></div>
        </div>

    </div>
    <script src="/js/snap.svg-min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>